<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<style>
    body{
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
    height:100%
    
    }
    
    h1 {
        text-align: center;
        color: maroon;
        font-size: 60px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 20px;
        margin: auto;
        max-width: 60%;
        background-color: #f6f0c4;
background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
    }
    
    form input {
        margin: 20px 20px;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 20px;
        border: 1px solid #f2f2f2;
        outline: none;
    }
    
    .err {
        font-family: cursive;
        color: red;
        font-size: 20px;
    }
    
    label {
        font-size: 17px;
        font-family: cursive;
        margin-top: 10px;
    }
    
    button {
        padding: 6px 22px;
        color: rgb(5, 3, 29);
        border-radius: 12px;
        background-color: white;
        font-size: 17px;
        font-family: cursive;
        border-radius: 20px;
        border: 1px solid black;
    }
</style>

<body>
    <div id="container">
    <h1>Login Page</h1>
    <form method="POST" action="/login">
        <div class='err' id='emailError'>

        </div>
        <input type="text" name="email" placeholder="Email">
        <div class='err' id='passwordError'>

        </div>
        <input type="password" name="password" placeholder="Password">
        <div class='err' id='connectionError'></div><br>
        <button type="submit">Login</button>

        <label>Not Registered? <a href="signup">Register Here</a></label>

    </form>
</div>
</body>
<script>
    let emailerror = document.getElementById('emailError');
    let passworderror = document.getElementById('passwordError');
    let connectionerror = document.getElementById('connectionError');
    let form = document.querySelector('form');
    form.addEventListener('submit', async(e) => {
        emailerror.textContent = '';
        passworderror.textContent = '';
        const email = form.email.value;
        const password = form.password.value;
        e.preventDefault();
        try {
            const res = await fetch('/login', {
                method: 'post',
                body: JSON.stringify({
                    email,
                    password
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailerror.textContent = data.errors.email;
                passworderror.textContent = data.errors.password;
                connectionerror.textContent = data.errors.connection;
            }
            if (data.saving) {
                console.log(data);
                location.assign('/home');
            }

        } catch (err) {
            console.log(err);
        }
    });
</script>

</html>